 @import url('https://fonts.googleapis.com/css2? family= Poppins:wght@400;500;600 & display=swap'); 
      @font-face {
    font-family: calSans;
    font-display: swap;
    src: url("cv/assets/fonts/CalSans-SemiBold.woff2") format("woff2"), url("cv/assets/fonts/CalSans-SemiBold.woff") format("woff");
    font-weight: 400;
    font-style: normal; 
    }
/*--------basic-styling--------*/
    html {
       box-sizing: border-box;
       scroll-behavior: smooth;  
    }
    *, 
    *::before, 
    *::after {
        padding: 0;
        margin: 0;
        border: none;
        box-sizing: inherit;
    }
    :root {
        --decor__color: #03a9f4;
        --link__hover__color: #575650;
        --sub__color: #ffffff;
    }
    body {
        font-family: Poppins, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        color: #666666;
      /*  background-color: #f0f8ff; */
    }
    a {
        text-decoration: none;
    }
    li {
        list-style: none;
    }
    h1, h2 {
        font-family: calSans, serif;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    } 
    [class*="__container"] {
        max-width: 1440px;
        margin: 0 auto;
    }
/*-------header-styling--------*/
    .header__container {
        background-color: var(--decor__color);
    }
    .header__nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: var(--sub__color);
        padding: 20px; 
    }
    .item__link {
        font-size: 1.1em;
        font-weight: 500;
        line-height: 1.4;
        color: var(--sub__color);
    }
    .list__menu {
        display: flex;
    }
    .menu__item {
        padding: 10px 15px;
    }
    .menu__item a:hover {
        transition: all 0.5s;
        color: var(--link__hover__color);
    }
    #checkbox__toggle {
     /* display: none; */
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
    }
    .burger {
     /* display: none; */
        clip: rect(0, 0, 0, 0);
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
    }
    .burger__line {
        display: block;
        position: relative;
        width: 22px;
        height: 2px;
        background-color: var(--sub__color);
    }   
    .burger__line::before,
    .burger__line::after {
        content: "";
        display: block;
        position: absolute;
        background-color: var(--sub__color);
        transition: all 0.3s; 
        width: 100%;
        height: 100%;
    }   
    .burger__line::before {
        top: 7px;
    }
    .burger__line::after {
        top: -7px;
    }   
    @media (max-width: 768px) {
        .list__menu {
      /* display: none; */
         max-height: 0; 
         overflow: hidden; 
         position: absolute;
         right: 0;
         left: 0;
         background-color: var(--decor__color);
         text-align: center;
         margin-top: 20px;
       }   
    .item__link {
         display: block;
         line-height: 1.9;
       }    
    .menu__item {
         padding: 0;
         transition: all 0.5s;
       }
    .list__menu li:hover {
         background-color: #0bd4d0;
       }
    .burger {
            all: unset; 
            display: block;
            padding: 15px 0;  
       }
    #checkbox__toggle:checked ~ .list__menu {
        display: block;
        max-height: 100%;
        transition: all 0.5s;
       }
    #checkbox__toggle:checked ~ .burger .burger__line {
        background-color: transparent; 
       }
    #checkbox__toggle:checked ~ .burger .burger__line::before {
        transform: rotate(-45deg);
        top: 0; 
       }
    #checkbox__toggle:checked ~ .burger .burger__line::after {
        transform: rotate(45deg);
        top: 0;
       }
  }
    
/* ------main-styling---------*/        
    .main {
        flex: 1 1 auto; 
        margin: 20px auto;
    }
    .main__container {
        display: flex;
        flex-wrap: wrap;
    } 
    .page__section {
        width: 50%;
        padding: 0 1.8em;
        margin: 0 auto 2em;
    }
    @media (max-width: 768px) {
        .page__section {
            width: 100%;
        }
    }
    .page__section .border__bottom {
        padding-bottom: 2.5em;
        border-bottom: 2px solid var(--decor__color);
    }
    .section__languages .border__bottom:last-child {
        border-bottom: 0px; 
    }
      @media (min-width: 768px) and (max-width: 1440px) {
        .page__section {
            display: grid;          
        }
        .main {
            margin: 80px auto;
        }
       }
    .img__avatar {
        max-width: 50%;
        margin: 1.2em auto;     
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
    }
    .section__center {
        text-align: center;
    }
    .section__title {
        font-size: 2.0em;   
    }
    .section__subtitle {
        font-size: 1.6em;
        margin-bottom: 0.8em;
    }
    .section__list {
       position: relative;
    }
     .section__contact  {
        position: relative;
        margin: 12px 0; 
    }
    .section__contact .icon {
        display: inline-block;
        width: 30px;
        font-size: 18px;
        color: var(--decor__color); 
    }
    .section__link {
        color: var(--decor__color);
    }
    .section__link:hover {
        color: var(--link__hover__color);
        transition: 1s;
    }
      span.bold {
        font-weight: bold;
    } 
      .section__course {
          position: relative;
      } 
      .section__course::before {
          display: inline-block;
          vertical-align: -2.5%;
          content: "\003E";
          font-size: 1.3em;
          font-weight: bold; 
          padding-right: 0.5em;
          color: var(--decor__color);
      }   
      .section__languages {
         margin: 0;
     }
      .percent {
          position: relative;
          width: 100%;
          height: 8px;
          background-color: #081920;
          margin-top: 5px;
          margin-bottom: 10px;    
      }
      .line__percent {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          background-color: var(--decor__color);
      }
/*--------footer-styling-------*/
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000000;
        background-color: var(--decor__color);
        padding: 1.3em 0.6em;
    }
    .inline {
        display: inline;
        font-size: 20px;
        margin-right: 0.4em;
    }
    .footer__github, .fa-github {
        font-size: 20px;
        color: #000000;
    }
    .footer__github .fa-github {
        margin-right: 5px;
    }
    .rsschool {
       width: 120px;
       height: 40px; 
       background: url("https://rs.school/images/rs_school_js.svg") no-repeat;
        background-size: contain;
    }  
